.navbarpadding {
    padding-top: 50px;
}
.toppadding {
    padding-top: 135px
}
.betweencardpadding {
    padding-top: 200px;
}
.subtletoppadding {
    padding-top: 55px;
}
.lefttextpadding {
    padding-left: 130px;
}

.lefttextpaddingCourse {
    padding-left: 100px;
}

.rightpicpadding {
    padding-right: 100px;
}

.img-response-size {
    width: auto;
    height: 100%;
    min-height: 200px;
  }


.important-message {
    font-weight: bolder;
    /* font-weight: 600; */
 }
